body {
    font-family: Arial, sans-serif;
    background-color: #b33111;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

h1 {
    color: #f8f8f8;
    margin-bottom: 20px;
}

.structure {
    background-color: #ffffff;
    border: 1px solid #b33111;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(73, 68, 68, 0.1);
    padding: 20px;
    width: 550px;
    text-align: center;
}

.structure h2 {
    color: #000000;
}

.structure-container {
    border: 1px solid #b3b1b1;
    border-radius: 5px;
    height: 400px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
    overflow: auto;
    padding: 5px;
    background-color: #ffffff;
    color: #ccc;
}

.input-field {
    width: calc(100% - 24px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #b33111;
    border-radius: 5px;
    background-color: #a6a6a8;
    color: #ccc;
}

.btn {
    background-color: #96979c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color:  #b33111;
}


